<?xml version="1.0"?>
<acl xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <group name="Everyone">
    <acl name="Default" />
    <object name="user.*" />
    <object name="resource.*" />
  </group>
  <group name="Moderator">
    <acl name="Moderator" />
  </group>
  <group name="Admin">
    <acl name="Moderator" />
    <acl name="Admin" />
    <object name="user.SocialClubName"/>
    <!--<object name="user.SocialClubName" password="mypassword"/>-->
    <!--<object name="user.LauncherName"/>-->
  </group>
  <acl name="Default">
    <!--<right name="command.kill" access="false" />-->
  </acl>
  <acl name="Moderator">    
    <right name="command.ban" access="false" />
    <right name="command.kill" access="false" />
    <right name="command.forcemap" access="false" />
    <right name="command.ghostmode" access="false" />
    <right name="command.settime" access="false" />
    <right name="command.setweather" access="false" />
    <right name="command.blackout" access="false" />
    <right name="command.kick" access="true" />
  </acl>
  <acl name="Admin">
    <right name="command.kick" access="true" />
    <right name="command.ban" access="true" />
    <right name="command.kill" access="true" />
    <right name="command.login" access="true" />
    <right name="command.logout" access="true" />
    <right name="command.settime" access="true" />
    <right name="command.setweather" access="true" />
    <right name="command.stop" access="true" />
    <right name="command.start" access="true" />
    <right name="command.restart" access="true" />
    <right name="command.acmds" access="true" />
    
    <!--VehicleManager-->
    <right name="command.vcmds" access="true" />
    <right name="command.getc" access="true" />
    <right name="command.getclass" access="true" />    
    <right name="command.getv" access="true" />
    <right name="command.getvehicles" access="true" />    
    <right name="command.car" access="true" />
    <right name="command.v" access="true" />
  </acl>
</acl>